.vscode
includes/*
sdk/*
build/CMakeFiles/*
build/*.sln
build/**.json
build/*.vcxproj
build/**/*.filters
build/**/*.recipe
build/**/*.tlog
build/**/*.tlog
/build/**/*.pdiparams
/build/**/*.info
/build/**/*.pdmodel
/build/**/*paddle2onnx.bat
/build/**/*paddle2onnx.bat
/build/**/*.xml
/build/**/*.txt
/build/**/*.cmake
/build/**/*.jpg
